*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #202020;
    font-size: 130%;
    text-align: center;
}
h1{
    color: #f4f8fa;
    display: block;
    margin-top: 60px;
    text-shadow: 5px 5px #030303;
}
p{
    text-align: justify;
    padding: 6px;
}
span{
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    font-size: 1.25em;
}
.container-info{
    margin-top: 70px;
    padding: 4px;
    width: 100%;
}
div.container-info > div{
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
    padding: 5px;
    margin: 20px;
}
#p1{
    background-color:#0e5298;
}
#p2{
    background-color: #84e08f;
}
#p3{
    background-color: #4dd276;
}
@media (min-width:992px){

    div.container-info > div{
        display:inline-table;
        margin: 6px;
        width: 31%; height: auto;
    }
}

@media (min-width:768px) and (max-width:991px){
    .container-info{
        padding-left: 15px;
    }
    div.container-info > div{
        float: left;
        margin: 13px;
    }
    #p1{
        width: 46%; height: auto;
    }
    #p2{
        width: 46%; height: auto;
    }
    #p3{
        width: 96%; height: auto;
        clear: left;
    }

}